<%- include("./parts/header.ejs")%>
<body>
    <div class="wrapper">
        <%- include("./parts/nav.ejs")%>

        <div class="posts_wrap">
            <% result.forEach((element) => {%>
                <%let id = element.id;%>
                <div class="post_item">
                    <a href="post/<%= id%>" class="post_title"><%- element.title%></a>
                    <p class="post_text">
                        <%- element.text%>
                    </p>
                    <div class="post_info">
                        <p class="post_author"><%- element.author%></p>
                        <p class="post_date"><%- element.date%></p>
                    </div>
                </div>
            <% });%>
        </div>

    </div>
</body>
